#container{
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 600px;
}

@keyframes rotate {
      0% { transform: rotateY( -10deg) rotateX( -10deg); }
     25% { transform: rotateY(  10deg) rotateX( -10deg); }
     50% { transform: rotateY(  10deg) rotateX(  10deg); }
     75% { transform: rotateY( -10deg) rotateX(  10deg); }
    100% { transform: rotateY( -10deg) rotateX( -10deg); }
}

#picture{
    width:  100%;
    height: 100%;
    position: absolute;
    
    transform-style: preserve-3d;
    
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    perspective: 1000px;
}

.image{
    background-position: center bottom;
    background-repeat: no-repeat;
    position: absolute;
    width:  100%;
    height: 100%;
}

#id1{ background-image: url("src/h1.png"); transform: translate3d(0, 0, 60px) scale(1.1); }
#id2{ background-image: url("src/h2.png"); transform: translate3d(0, 0, 50px) scale(1.1); }
#id3{ background-image: url("src/h3.png"); transform: translate3d(0, 0, 40px) scale(1.1); }
#id4{ background-image: url("src/h4.png"); transform: translate3d(0, 0, 30px) scale(1.1); }
#id5{ background-image: url("src/h5.png"); transform: translate3d(0, 0, 20px) scale(1.1); }
#id6{ background-image: url("src/h6.png"); transform: translate3d(0, 0, 10px) scale(1.1); }


