
body{
    margin: 0px;
    font-family: 'Roboto mono', monospace;
    font-size: 0px;
}

body{
    --bg: #005;
    --bg-tr: #005A;
}

body{
    background: var(--bg);
    color: #fff6;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
}
body *{
    transition: all 1s;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
}

#toggle3D{
    position:fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 100;
}

#container{
    transform-style: preserve-3d;
    width: 60vw;
    margin: 50px auto 50vh;
    position: relative;
    transform: scale(1);
}

.align-right{
    /* float: right; */
}

.section{
    font-size: 0px;
    position: relative;
    display: inline-block;
    margin: 10px 10px 50px;
}

.title,
.content{
    font-size: 12px;
    display: inline-block;
    vertical-align: text-top;
}

.title{
    width: calc(15% - 4px);
    position: sticky;
    top: 10px;
    /* padding: 3px; */
    margin-right: 4px;
}
.content{width: calc(85% - 4px);/* padding: 3px; */margin-left: 4px;text-align: justify;}

#container .block {
    transform-style: preserve-3d;
    background: #0050;
    color: #fff6;
    /* border: 1px solid #fff0; */
    outline-color: transparent;
    outline-width: 1px;
    outline-style: solid;
    transform: translateZ(0px);
}

span.block{
    display: inline-block;
    margin-bottom: 3px;
}

.active3d #container{
    transform: scale(1.2) rotate3d(-1, -1, 1, -45deg) translate3d(200px, 100px, 0);
}
.active3d #container .block{
    background: var(--bg-tr);
    /* background: #ffffff00; */
    /* background-image: repeating-linear-gradient(       45deg,       #005,       #005 5px,       transparent 5px,       transparent 10px     ); */
    color: transparent;
    /* border: 1px solid #fff6; */
    outline-color: #fff6;
    transform: translateZ(50px);
}