body{
    background: #423458;
    font-size: 0px;
    --unit1: 25px;
    --unit4: calc(var(--unit1) * 4); 
    --unit6: calc(var(--unit1) * 6); 
    --unit8: calc(var(--unit1) * 8);
}

#wrapper{
    filter: drop-shadow(0 0 5px #000E);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.face{
    -ms-interpolation-mode: nearest-neighbor; 
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -webkit-crisp-edges; 
    image-rendering: -moz-crisp-edges; 
    image-rendering: -o-crisp-edges; 
    image-rendering: pixelated; 
}

.main, .cover{
    display: block;
}

.main.face, .cover.face{
    background-repeat: no-repeat;
}

.arm, .leg, .body, #skin{
    display: none;
}
/* HEAD.main*/
.head.main.front    { background-position: calc(var(--unit8)*-1) calc(var(--unit8)*-1); }
.head.main.left     { background-position: calc(var(--unit8)*-2) calc(var(--unit8)*-1); }
.head.main.back     { background-position: calc(var(--unit8)*-3) calc(var(--unit8)*-1); }
.head.main.right    { background-position: calc(var(--unit8)* 0) calc(var(--unit8)*-1); }
.head.main.bottom   { background-position: calc(var(--unit8)*-2) calc(var(--unit8)* 0); }
.head.main.top      { background-position: calc(var(--unit8)*-1) calc(var(--unit8)* 0); }

/* HEAD.cover*/
.head.cover.front{
    background-position-x: -40px;
    background-position-y: -8px;
}
.head.cover.left{
    background-position-x: -48px;
    background-position-y: -8px;
}
.head.cover.back{
    background-position-x: -56px;
    background-position-y: -8px;
}
.head.cover.right{
    background-position-x: -32px;
    background-position-y: -8px;
}
.head.cover.bottom{
    background-position-x: -48px;
    background-position-y: 0px;
}
.head.cover.top{
    background-position-x: -40px;
    background-position-y: 0px;
}

/* HEAD */
.head.main.face, .head.cover.face{
    width: var(--unit8);
    height: var(--unit8);
    background-size: 800%;
}

/* 3D */
#wrapper{
    perspective: 2000px;
}

#full{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
      0% { transform: rotateX(30deg)    rotateY( 0deg)    ; }
     50% { transform: rotateX(-30deg)   rotateY( 180deg)  ; }
    100% { transform: rotateX(30deg)    rotateY( 360deg) ; }
}

.face{  
    margin: 0;
    display: block;
    position: absolute;
}

.head.main.face.front   {   transform: translate3d( calc(var(--unit4)*-1), calc(var(--unit4)*-1),  calc(var(--unit4)* 1)); }
.head.main.face.back    {   transform: translate3d( calc(var(--unit4)*-1), calc(var(--unit4)*-1),  calc(var(--unit4)*-1)); }
.head.main.face.left    {   transform: translate3d( calc(var(--unit8)*-1), calc(var(--unit4)*-1),  calc(var(--unit1)* 0)) rotateY( 90deg) ; }
.head.main.face.right   {   transform: translate3d( calc(var(--unit1)* 0), calc(var(--unit4)*-1),  calc(var(--unit1)* 0)) rotateY(-90deg); }
.head.main.face.top     {   transform: translate3d( calc(var(--unit4)*-1), calc(var(--unit8)*-1),  calc(var(--unit1)* 0)) rotateX( 90deg) ; }
.head.main.face.bottom  {   transform: translate3d( calc(var(--unit4)*-1), calc(var(--unit1)* 0),  calc(var(--unit1)* 0)) rotateX( 90deg) ; }

.head.cover.face.front   {  transform: translate3d( -4px, -4px,  4px); }
.head.cover.face.back    {  transform: translate3d( -4px, -4px, -4px); }
.head.cover.face.left    {  transform: translate3d( -8px, -4px,  0px) rotateY(90deg) ; }
.head.cover.face.right   {  transform: translate3d(  0px, -4px,  0px) rotateY(-90deg); }
.head.cover.face.top     {  transform: translate3d( -4px, -8px,  0px) rotateX(90deg) ; }
.head.cover.face.bottom  {  transform: translate3d( -4px,  0px,  0px) rotateX(90deg) ; }