body{
    font-size: 0px;
    font-family: monospace;
    background: #555;
    margin: 0px;
}
*{
    transition: 0.2s all;
}

#src{
    display: none;
}
#board{
    position: relative;
    height: 100%;
}

#board canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #555;
}