body{
  margin: 0px;
  font-family: monospace;
}

#container{
  background: #FFD;
  width: 1200px;
  margin: 0 auto;
}
.slider{
  font-size: 0px;
  overflow-x: auto;
  
  white-space: nowrap;
}
.slide{
  font-size: 15px;
  display: inline-block;
  min-width: calc(100%/3 - 20px);
  margin: 0 10px;
  padding: 10px;  
  height: 200px;
  box-sizing: border-box;
  border: 1px solid;
}



