@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body{
    margin: 0px;
    font-size: 0px;
    background-color: #1F2825;
    margin: 20px;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(40px);
    }
}

.tomato:after {
    content: url(src/135702.svg);
}
.orange:after {
    content: url(src/135620.svg);
}
.cherry:after {
    content: url(src/135695.svg);
}
.strawb:after {
    content: url(src/135717.svg);
}
.apple:after {
    content: url(src/135728.svg);
}

.obj:after {
    font-size: 13px;
    width: 17px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.board{
    position: relative;
    display: inline-block;
    box-shadow: 0 0 1px 1px black;
    width: calc(16 * 40px);
    zoom: 2;
    overflow: hidden;
}

.cell{
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
}

.cell .background {
    background: #18201d;
    box-shadow: 0 0 20px 2px #00000050 inset;
}


@keyframes roll {
    from {
        -webkit-mask-position: 0px;
    }
    to {
        -webkit-mask-position: 40px;
    }
}
.roller .background {
    -webkit-mask-image: url(src/line.svg);
    -webkit-mask-position: 0px;
    -webkit-mask-size: 120%;
    animation-name: roll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 36px;
    height: 36px;
    border: 2px solid transparent;
    display: inline-block;
}

.prodWrapper{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 0px;
    left: 0px;
    z-index: 200;
}

.rotate90 .background,  .rotate90 .prodWrapper{
    transform:rotate(90deg);
}
.rotate180 .background, .rotate180 .prodWrapper{
    transform:rotate(180deg);
}
.rotate270 .background, .rotate270 .prodWrapper{
    transform:rotate(270deg);
}
.rotate90 .rotWrapper{
    display: inline-block;
    transform:rotate(-90deg);
}
.rotate180 .rotWrapper{
    display: inline-block;
    transform:rotate(-180deg);
}
.rotate270 .rotWrapper{
    display: inline-block;
    transform:rotate(-270deg);
}

.animWrapper{
    display: inline-block;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.aleWrapper{
    display: inline-block;
}

.product {
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    z-index: 200;
    user-select: none;
}
.obj{
    width: 20px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
}

.minimal{
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
}